@use '../../styles/variables';

.collapse_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: variables.$mobileBreak) {
        margin: 10px 100px;
    }

}