@use '../../../styles/variables';

@mixin navItem {
  text-decoration: none;
  color: inherit;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: all .3s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 68px;
  margin: 20px;

  nav {
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    color: variables.$primary_color;
    gap: 1rem;

    .navItem {
      @include navItem;

      @media (min-width: variables.$mobileBreak) {
        font-size: 24px;
      }
    }

    .navItemActive {
      @include navItem;
      text-decoration: underline;
    }

    @media screen and (min-width: variables.$mobileBreak) {
      gap: 2rem;

      .navItem,
      .navItemActive {
        font-size: 24px;
      }
    }
  }

  @media (min-width: variables.$mobileBreak) {
    margin: 20px 100px;
  }
}

.headerLogo {
  height: 47px;
  width: 145px;

  @media (min-width: variables.$mobileBreak) {
    height: 68px;
    width: 210px;
  }
}