@use '../../../styles/variables';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 40px 0;
  background-color: #000;
  color: #fff;
  margin-top: auto;

  p {
    font-size: 12px;
  }

  @media (min-width: variables.$mobileBreak) {
    p {
      font-size: 24px;
    }
  }
}
